name: Multi-Env Deployment

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Choose environment"
        required: true
        default: "dev"
        type: choice
        options:
          - dev
          - staging
          - prod

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.environment }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          java-version: '17'

      - name: Run Java app with environment-specific API key
        env:
          DEPLOY_ENV: ${{ github.event.inputs.environment }}
          API_KEY: ${{ secrets.API_KEY }}
        run: |
          javac App.java
          java App
